/.metadata
/alvex-sdk3-repo/.settings
/alvex-sdk3-repo/target
/alvex-sdk3-repo/.classpath
/alvex-sdk3-repo/.project
/alvex-sdk3-share/.classpath
/alvex-sdk3-share/.project
/alvex-sdk3-share/.settings
/alvex-sdk3-share/target
